* {
    padding: 0;
    margin: 0;
}
body {    
    height:100%;
    margin-bottom: 40px;
}
.jumbotron {
    height: 100px;
}

#searchBtn {
    height: 30px;
    width: 30px;
}

#city-Name {
    height: 40px;
    width: 165px;

.forecast.col-md-9 {
height: 400px;
width: 300px;
}
h1 {
    padding-top: 30px;
}

h4 {
    padding-top: 20px;
    align-items: center;
    margin-bottom: 0;

}

#dashboard {
    background-color:rgb(36, 37, 38);
    color:#fff;
    text-align:center;
    max-height:100px;
    width:flex;
    padding:0px 0px 0px 0px;
    margin:0 auto;

}
.container {
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    width:100%;
}
#forecast {
    background-color:#fff;
    margin-top:10px;
    height: 300px;
    /* display: none; */
}
.five{
    border: 1px solid rgb(255, 252, 252);
    height:12rem;
    background-color:rgb(0, 132, 255);
    color:#fff;
    margin-bottom:12px;
    margin-left: 10px;
    margin-right: 10px;
}

.col {
    margin-right:25px;
    margin-top:30px;
    /* margin-left:25px; */
}

.card {
    margin-top:10px;
    padding: 25px 25px 25px 25px;
    
}
.history-btn {
    background-color:rgb(246, 248, 249);
}
/* .show {
    visibility:visible;
} */
/* .searchTitle {
    text-align: left; */
/* } */
/* footer{
    text-align: center;
} */
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1279px;
    }
}
@media (min-width: 576px) {
    #dashboard {
      padding-bottom: 0;
    }
}